<!DOCTYPE html>
<html>
<head>
	<title>Report an Incident</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/Reporting.css">
</head>
<body>
	<div class="main">
	<div><nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px; background-color: #585858;">
      <ul class="nav navbar-nav">
        <li class="option"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="option"><a href="/search">Search</a></li>
        <li class="option"><a href="/sos">SOS</a></li>
        <li class="active option"><a href="/report">Report</a></li>
      </ul>
    </nav>
	</div>

		<input type="textbox" name="" patttern="[A-Za-z\s]+" placeholder="Name" required class="name"> 

		<input type="textbox" name="" patttern="[A-Za-z\s]+" placeholder="Contact" required class="name">
		<input type="textbox" name="" patttern="[A-Za-z\s]+" placeholder="Address of the incident" class="name">


		<input type="textbox" name="" patttern="[A-Za-z\s]+" placeholder="Enter Description here" class="name">
		<button class="butt">Submit</button>
	</div>
</body>
</html>